<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>country</key>
		<array>
			<dict>
				<key>name</key>
				<string>China</string>
				<key>population</key>
				<integer>1400000000</integer>
				<key>flag</key>
				<string>China.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/China</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Japan</string>
				<key>population</key>
				<integer>200000000</integer>
				<key>flag</key>
				<string>japan.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Nh%E1%BA%ADt_b%E1%BA%A3n</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Viet Nam</string>
				<key>population</key>
				<integer>100000000</integer>
				<key>flag</key>
				<string>Vietnam.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Vi%E1%BB%87t_Nam</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Euro</string>
		<key>country</key>
		<array>
			<dict>
				<key>name</key>
				<string>France</string>
				<key>population</key>
				<integer>1400000000</integer>
				<key>flag</key>
				<string>france.jpg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Ph%C3%A1p</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Italia</string>
				<key>population</key>
				<integer>200000000</integer>
				<key>flag</key>
				<string>Italia.png</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Italia</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Spain</string>
				<key>population</key>
				<integer>100000000</integer>
				<key>flag</key>
				<string>Spain.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/T%C3%A2y_Ban_Nha</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Affrica</string>
		<key>country</key>
		<array>
			<dict>
				<key>name</key>
				<string>Angola</string>
				<key>population</key>
				<integer>8000000</integer>
				<key>flag</key>
				<string>angola.jpg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Angola</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ghana</string>
				<key>population</key>
				<integer>200000000</integer>
				<key>flag</key>
				<string>Ghana.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Ghana</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Somalia</string>
				<key>population</key>
				<integer>8500000</integer>
				<key>flag</key>
				<string>Somalia.jpeg</string>
				<key>id</key>
				<string>http://vi.wikipedia.org/wiki/Somalia</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
